@{
    ViewData["Title"] = "Contact";
}
<h3>@ViewData["Message"]</h3>

<address>
    1234 Main Street<br />
    Los Angeles, CA 90035<br />
    <abbr title="Phone">P:</abbr>
    626.524.8022
</address>

<address>
    <strong>Support:</strong> <a href="mailto:sifeij@gmail.com">sifeij@gmail.com</a>
</address>
